# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
graphics/node_modules
process/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

graphics/input/*
!graphics/input/tomate_21-mi-viaje-por-europa_A

# Ignore all video and audio files by default
*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.flac

!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4
!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4/*.mov
!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4/*.avi
!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4/*.mkv
!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4/*.mp3
!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4/*.wav
!graphics/input/tomate_21-mi-viaje-por-europa_A/*.mp4/*.flac

process/screenshots
