# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
graphics/node_modules
process/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Ignore everything in graphics/input
graphics/src/input/*

# Allow the specific folder and its contents
!graphics/src/input/EXAMPLE
!graphics/src/input/EXAMPLE/*

process/*.mp3
process/*.mp4
process/*.mov
process/*.avi
process/*.mkv
process/*.wav
process/*.flac
process/screenshots/*
process/output/*
flac

process/screenshots
